* {
  margin: 0;
}

.App {
  background-color: white;
}

.appPostsRight {
  margin-left: 20px;
}

.appHeader {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.appPosts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.appHeaderImage {
  max-width: 300px;
  height: auto;
  object-fit: contain;
}

.appSignup {
  display: flex;
  flex-direction: column;
}